/** BODY **/
body {
  width: 1440px;
  position: relative;
  left: 50%;
  margin-left: -720px;
  margin-top: 0;
  margin-bottom: 0;

  box-sizing: border-box;

  border: 1px solid; /** For dev only **/

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
}

/** FONTS **/
@font-face {
  font-family: "Neucha";
  src: url(fonts/Neucha-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Regular.ttf);
}

.orange-font-color {
  color: #fe8a02;
}

h1,
h2,
h3 {
  font-family: "Neucha", sans-serif;
  font-weight: normal;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/** HEADER **/
header {
  position: relative;
  height: 950px;
}

header > h1 {
  position: absolute;
  top: 90px;
  left: 165px;
  z-index: 200;
}

header > img {
  position: absolute;
  top: 55px;
  right: -110px;
  height: 525px;
  z-index: 100;
}

header > div {
  /** button **/
  position: absolute;
  top: 787px;
  left: 721px;
  z-index: 200;
}

header > p {
  column-count: 2;
  column-gap: 30px;
  position: absolute;
  top: 560px;
  left: 165px;
  width: 1080px;
  z-index: 200;
}

/** MAIN **/
main {
  position: relative;
  height: 1425px;
}

main > h1 {
  text-align-last: center;
  text-align: center;
  position: relative;
  top: 65px;
}

main > p {
  text-align: center;
  position: relative;
  top: 60px;
}

.video {
  position: relative;
  top: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/** BACKGROUNDS **/
.bg-before:before {
  display: block;
  background: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
  width: 100%;
  height: 100%;
  content: "";
}

.background-light {
  background-color: #f5f4f0;
}

/** BUTTONS **/
.button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 11px 24px 11px 24px;
  width: 100px;
  height: 25px;
  background: #fe8a02;
  color: white;
  font-weight: 700;
}

/** SECTION **/
.section {
  max-width: 1110px;
  margin: 100px 0 100px 0; /** внешние - сверху, справа, снизу, слева (возможно нужен padding) **/

  /** + выравнивание по центру **/
}
