/** BODY **/
body {
  width: 1440px;
  position: relative;
  left: 50%;
  margin-left: -720px;
  margin-top: 0;
  margin-bottom: 0;

  border: 1px solid; /** For dev only **/

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
}

/** FONTS **/
@font-face {
  font-family: "Neucha";
  src: url(fonts/Neucha-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Regular.ttf);
}

.orange-font-color {
  color: #fe8a02;
}

h1,
h2,
h3,
h4 {
  font-family: "Neucha", sans-serif;
  font-weight: normal;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

/** HEADER **/
header {
  position: relative;
  height: 950px;
}

.header-title {
  position: absolute;
  top: 90px;
  left: 165px;
  z-index: 200;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -110px;
  height: 525px;
  z-index: 100;
}

.header-button {
  position: absolute;
  top: 787px;
  left: 721px;
  z-index: 200;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 11px 24px 11px 24px;
  width: 100px;
  height: 25px;
  background: #fe8a02;
  color: white;
  font-weight: 700;
}

.header-text {
  column-count: 2;
  column-gap: 30px;
  position: absolute;
  top: 560px;
  left: 165px;
  width: 1080px;
  z-index: 200;
}

/** MAIN **/
main {
  position: relative;
}

.main-title {
  text-align-last: center;
  text-align: center;
  position: relative;
  top: 60px;
}

.main-text {
  text-align: center;
  position: relative;
  top: 55px;
}

.video {
  position: relative;
  top: 83px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/** NAV **/
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #42413c;
  height: 670px;
  padding: 180px 80px 80px 80px;
}

.nav-elem {
  position: relative;
  height: 310px;
  width: 350px;
  margin: 0 12px 0 12px;
}

.nav-title {
  color: white;
  font-size: 52px;
  margin: 0;
}

.numbered-elem {
  background-color: #f5f4f0;
  position: relative;
  height: 270px;
  width: 302px;
  padding: 24px;
}

.nav-number {
  margin: 0;
  font-size: 54px;
}

.nav-sub-title {
  margin: 0;
  margin: 15px 0 0 0;
}

.nav-text {
  margin: 3px 0 7px 0;
}

.animation:hover {
  background: #fe8a02;
  color: white;
}

.animation:hover span {
  color: white;
}

/** BACKGROUNDS **/
.bg-before:before {
  display: block;
  background: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
  width: 100%;
  height: 100%;
  content: "";
}

.background-light {
  background-color: #f5f4f0;
}

.background-dark {
  background: #b09a81;
}

/** SECTION **/
section {
  position: relative;
  height: 860px;
}

.section-img-shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/** LIGHT SECTION **/
.light-section-img {
  position: absolute;
  top: 100px;
  left: 150px;
  width: 540px;
}

.light-section-h4 {
  position: absolute;
  top: 100px;
  left: 735px;
  margin: 0;
  color: #908d8b;
}

.light-section-h2 {
  position: absolute;
  top: 140px;
  left: 735px;
  margin: 0;
}

.light-section-h3 {
  position: absolute;
  top: 240px;
  left: 735px;
  margin: 0;
}

.light-section-line {
  position: absolute;
  width: 1140px;
  height: 30px;
  left: 150px;
  top: 577px;

  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 0 0 0 12px;
  font-size: 14px;
  font-weight: 700;
}

.light-section-text {
  column-count: 2;
  column-gap: 30px;
  position: absolute;
  margin: 0;
  top: 630px;
  left: 150px;
  width: 1140px;
}

/** DARK SECTION **/
.dark-section-img {
  position: absolute;
  top: 100px;
  left: 735px;
  width: 540px;
}

.dark-section-h4 {
  position: absolute;
  top: 100px;
  left: 150px;
  margin: 0;
  color: white;
}

.dark-section-h2 {
  position: absolute;
  top: 140px;
  left: 150px;
  margin: 0;
  color: white;
}

.dark-section-h3 {
  position: absolute;
  top: 312px;
  left: 150px;
  margin: 0;
  color: white;
}

.dark-section-line {
  position: absolute;
  width: 1140px;
  height: 30px;
  left: 150px;
  top: 577px;

  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 0 0 0 12px;
  font-size: 14px;
  font-weight: 700;
}

.dark-section-text {
  column-count: 2;
  column-gap: 30px;
  position: absolute;
  margin: 0;
  top: 630px;
  left: 150px;
  width: 1140px;
  color: white;
}
